{% extends "layout.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ highcharts_js|raw }}

    <script>
        $(document).ready(function() {

            $('select').change(function() {
                $(this).parents('form').submit();
            });

            $('#chart').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Histogram'
                },
                subtitle: {
                    text: '{{ jobid }}'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45,
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '{{ metric }}'
                    }
                },
                tooltip: {
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        groupPadding: 0,
                        pointPadding: 0,
                        borderWidth: 0,
                    }
                },
                series: 
                    [
                        {
                            name: "{{ metric }}",
                            showInLegend: false,
                            data: [
                                {{ seriesData | raw }}
                            ],
                        },
                    ]
            });
        });
    </script>
{% endblock %}

{% block navigation %}
    {{ parent() }}

    <div id="navigation" style="text-align: center;">
        <h1>Histogram</h1>
        <div id="filters" style="text-align: left;">
            <form method="GET">
                <input type="hidden" name="jobid" value="{{ jobid }}">
                <strong>Metric: </strong>
                <select name="metric">
                    {% for current_metric in METRICS %}
                        <option value="{{ loop.index0 }}" {% if current_metric == metric %}selected="selected"{% endif %}>{{ current_metric }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div id="chart" style="margin: 0 auto"></div>
    </div>

{% endblock %}
